{
	"plugins": [["@babel/plugin-transform-runtime", { // 使用plugin-transform-runtime打包库文件，就不用引入babel/polyfill
		"corejs": 2,
    "helpers": true,
    "regenerator": true,
    "useESModules": false
	}]]
}